// ----------------------------------------------------------------------------
// Variables
// ----------------------------------------------------------------------------

@import '../_core/Variables';

// --- Overrides --------------------------------------------------------------

$Theme-Font-Path: '/fonts/';
$Theme-Font-Weights: $Theme-Font-Weight-Regular $Theme-Font-Weight-Bold;

// --- Application ------------------------------------------------------------

$AppPageWidth: 800px;

// ----------------------------------------------------------------------------
