@model HomeModel

<div class="AppView" style="padding: 30px 0">

  <form asp-controller="@CatalogController.Name" asp-action="@nameof(CatalogController.Index)" method="post">

    <div class="row">

      <div class="col-span-f">
        <label class="FormLabel" asp-for="Scope">Rozsah generovaného katalogu <span class="Required">*</span></label>
        <select class="FormControl" asp-for="Scope" asp-items="Model.Hierarchy" data-val-required="Toto pole je povinné">
          <option value="">- vyber rozsah katalógu -</option>
        </select>
        <span asp-validation-for="Scope"></span>
      </div>

      <div class="col-span-5">
        <label class="FormLabel" asp-for="PriceLevel">Cenník</label>
        <select class="FormControl" asp-for="PriceLevel" asp-items="Model.PriceLevels">
        </select>
      </div>

      <div class="col-span-2">
        <label class="FormLabel" asp-for="Language">Jazyk</label>
        <select class="FormControl" asp-for="Language" asp-items="Model.Languages">
        </select>
      </div>

      <div class="col-span-2">
        <label class="FormLabel" asp-for="Layout">Vzhľad</label>
        <select class="FormControl" asp-for="Layout" asp-items="Model.Layouts">
        </select>
      </div>

      <div class="col-span-3">
        <label class="FormLabel">&nbsp;</label>
        <button class="FormControl btn btn-primary" type="submit" formtarget="_blank">Generuj katalóg</button>
      </div>

      <div class="col-span-f">
        <label class="FormLabel" asp-for="Layout">Názov katalógu (ak ho neuvediete, použije sa názov podľa výberu v rozsahu)</label>
        <input class="FormControl" asp-for="NameOfCatalog" asp-items="Model.NameOfCatalog" />
      </div>

    </div>

  </form>

</div>

@section Scripts {
  <script src="~/lib/jquery/jquery.min.js"></script>
  <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}