// ----------------------------------------------------------------------------
// Layout
// ----------------------------------------------------------------------------

@import 'Variables';

html
{
  font-size: $Theme-Font-Size-MediumPlus;
}

body
{
  color: #212529;
}

.CatBody
{
  margin: 0 auto;
  overflow: hidden;
  width: $Page-width + 10mm;
}

// ----------------------------------------------------------------------------
